.container {
    border: 5px solid #1C6EA4;
    border-radius: 20%;
    background-color: white;
    text-align: center;
    font-family: 'Encode Sans Condensed', sans-serif;
    max-width: 80%;
    min-height: 50px;
    padding: 15px;
    margin: 15px auto;
    clear: both;
}

body {
    background-color: lightblue;
}

img {
    width: 15%;
    height: auto;
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav li a {
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    background: #1C6EA4;
    color: white;
    text-decoration: none;
    font-weight: 600;
    line-height: 3;
}

#formatted img {
    padding: 5px;
    margin: 5px;
    border: 5px solid #1C6EA4;
}

#boxsize img {
    padding: 5px;
    margin: 5px;
    border: 5px solid #1C6EA4;
    box-sizing: border-box;
}
